@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-size: clamp(1.4rem, 3vw, 1.4rem);
    font-family: "Fredoka", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cdc7ff;
}

main {
    background-color:#fff0f0;
    padding: 2rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    max-width: 900px;
    width: 80%;
    min-width: 300px;
    min-height: 90vh;
}

.piilossa {
    display: none !important;
}

#aloitusnakyma {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem;
}

#aloitusnakyma h1 {
    color: #9921c1;
    font-weight: 700;
}

.taso {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.taso button {
    border: 2px solid rgb(142, 139, 139);
    padding: 0.5rem 1.2rem;
    width: clamp(4rem, 6vw, 5rem);
    height: clamp(4rem, 6vw, 5rem);
    font-size: clamp(2rem, 4vw, 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.45);
    transition: all 0.5s;
}

.taso button:hover {
    background-color: rgb(245, 180, 255);
    border-style: none;
    transform: scale(1.2);
}

#taso1 { background-color: rgb(113, 245, 108);}
#taso2 { background-color: rgb(52, 226, 238);}
#taso3 { background-color: rgb(255, 70, 122);}

#pelinakyma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    position: relative;
    gap: 2rem;
}

#ylapalkki {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

#avaa-koko-naytto,
#sulje-koko-naytto {
    cursor: pointer;
    width: clamp(3rem, 10vw, 5rem);
    height: clamp(3rem, 10vw, 5rem);
    font-size: clamp(2rem, 4vw, 2.7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    border-radius: 50%;
    transition: all 0.2s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
#avaa-koko-naytto:hover,
#sulje-koko-naytto:hover {
    background-color: rgba(240, 240, 240, 1);
    transform: scale(1.1);
}

#sulje-peli {
    color: rgb(205, 32, 32);
    cursor: pointer;
    width: clamp(3rem, 10vw, 5rem);
    height: clamp(3rem, 10vw, 5rem);
    font-size: clamp(2rem, 4vw, 2.7rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    border-radius: 50%;
    transition: all 0.2s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
#sulje-peli:hover {
    background-color: rgb(247, 119, 119);
    color:#252222;
    transform: scale(1.1);
}

#kysymys {
    font-size: clamp(1.6rem, 5vw, 3.5rem);
    font-weight:400;
    border: solid rgb(187, 184, 184);
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #e6f0ff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#vastausvaihtoehdot button {
    height: clamp(3.2rem, 10vw, 5.2rem);
    width: clamp(3.2rem, 10vw, 5.2rem);
    font-size: clamp(1.6rem, 5vw, 3rem);
    text-align: center;
    background-color: #ff8ce2;
    border: 2px solid #000000;
    border-radius: 20%;
    cursor: pointer;
    margin: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.45);
    transition: all 0.8s;
}

#vastausvaihtoehdot button:hover {
    background-color: #d81ba9;
    border-style: none;
    transform: scale(1.2);
}

#vihje-painike {
    font-size: 1.2rem;
    background-color: rgb(219, 253, 219);
    border: 2px solid #b0aaaa;
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem;
    text-align: center;
    padding: 1rem 1.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: all 0.5s;
}
#suurennuslasi {
    font-size: clamp(1.6rem, 5vw, 2.3rem);
    margin: 0;
}
#vihje-painike:hover {
    transform: scale(1.1);
}
@media (max-width: 650px) {
    #vihje-painike {
      padding: 1rem 1.1rem;
    }
}

#vihje {
    display: flex;
    gap: 2.2rem;
    min-height: 5rem;
    max-width: 100%;
    margin: 1rem;
}
.vihjekuva { font-size: clamp(2.2rem, 6vw, 4rem);}
.haalea { opacity: 30%;}

#palaute1 {
    margin: 2rem;
    font-size: clamp(1.4rem, 4vw, 2.8rem);
}

#palaute2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: rgb(255, 166, 0);
    font-size: clamp(2rem, 5vw, 3rem);
}

#seuraava-painike {
    width: clamp(4rem, 10vw, 7rem);
    height: clamp(4rem, 10vw, 7rem);
    font-size: clamp(2rem, 5vw, 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0 0.9rem 0;
    background-color: rgb(66, 210, 66);
    border: 2px solid #504d4d;
    border-radius: 20%;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.35);
    transition: all 0.5s;
}

#seuraava-painike:hover {
    border-style: none;
    background-color: rgb(7, 137, 7);
    color: rgb(241, 241, 177);
    transform: scale(1.1);
}

#seuraava-painike img {
    width: clamp(2rem, 6vw, 4rem);
    height: auto;
}

#edistyminen {
    margin-top: auto;
}
.pallo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    background-color: lightgray;
    transition: background-color 0.3s ease;
}
  
.pallo.aktiivinen {
    background-color: green;
}

#kannustusviesti {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}
  
#kannustusviesti.poistuva {
    transform: translateX(100%) rotate(20deg) scale(0.4);
    transition: transform 1.6s ease-in;
}

#kannustus-teksti {
    font-size: clamp(1.2rem, 2.5vw, 1.9rem);
    background-color: white;
    border-style: dashed;
    padding: 1rem 1.5rem;
    border-radius: 20px;
}
#kannustusviesti img {
    height: auto;
}
@media (min-width: 1000px) {
    #kannustusviesti img {
        margin-right: 10vw;
    }
    #kannustus-teksti {
      padding: 1.5rem 2rem;
    }
}